{{define "main"}}
<div class="main">

	<div></div>

	<!--Title-->
	{{with .Title}}
	<heading>
		<h2>{{.}}</h2>
	</heading>
	{{end}}

	<div></div>

	<!--Content-->
	{{with .Content}}<content class="sk3-margin-v-full">{{.}}</content>{{end}}

	<div></div>

	<!--Page Info-->
	<section class="sk3-margin-v-full">
		{{if site.Params.pageinfobox}}
		{{partial "pageinfo-box.html" .}}
		{{else}}
		{{partial "pageinfo.html" .}}
		{{end}}
	</section>

	<div></div>

	<!--Disqus-->
	{{if and site.DisqusShortname (default true .Params.comment)}}
	{{template "_internal/disqus.html" .}}
	{{end}}

</div>
{{end}}